/* STANDARD */
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}
h1 {
    color: #333333;
    font-size: 2.5rem;
    text-transform: uppercase;
}


/* MAIN */
.main {
    background-color: #ffffff;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    width: 100%;
}


/* EARNED CASH and STORE PASS */
.earned, .pass {
    border-radius: 2px;
    color: #ffffff;
    padding: 40px;
    margin: 20px 0;
    width: 100%;
}
.earned {
    background: rgb(46,204,113);
background: linear-gradient(180deg, rgba(46,204,113,1) 0%, rgba(46,204,113,1) 35%, rgba(105,232,159,1) 100%);
}
.pass {
    background: rgb(155,89,182);
    background: linear-gradient(180deg, rgba(155,89,182,1) 0%, rgba(155,89,182,1) 35%, rgba(219,160,244,1) 100%);
}
.label {
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 20px;
    text-align: left;
}
.amount {
    font-size: 3.5rem;
    font-weight: 800;
}


/* MEDIA QUERIES */
@media only screen and (min-width: 600px) {
    .main {
        width: 100%;
    }
}